@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root{

    /* bg-Color */
    --bg-color-primary: #fffbf2;
    --bg-color-secondary: purple;
    --bg-color-tertiary: red;

    /* Font*/
    --font-size: 30px;

    /* Boutton */
    --button-p: 10px 16px;
    --button-bg-2: #f9fafb;
    --button-2-b-color: #D5D7DA;
    --button-rounded: 10px;
    --button-height: 43px;
}

/* ------------------------------------------------------------------------- */
/* on peux APPLIQUER le @apply a une CLASSE alors NE pas ABUSER des VAR */
/* ------------------------------------------------------------------------- */

.bg-color-primary{
    background-color: var(--bg-color-primary);
}

/*
*For all about BOUTTON
*/
.primary-button {
    height: var(--button-height);
    padding: var(--button-p);
    border-radius: var(--button-rounded);
    /* @apply text-white; */
}

.secondary-button {
    height: var(--button-height);
    background-color: var(--button-bg-2);
    padding: var(--button-p);
    border: 1px solid var(--button-2-b-color);
    border-radius: var(--button-rounded);
}


.tertiary-button {
    height: var(--button-height);
    padding: var(--button-p);
    /* @apply text-2xl; */
}