@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root{
    --font-size: 30px;

    /* Boutton */
    --button-p: 10px 16px;
    --button-bg-2: #f9fafb;
    --button-2-b-color: #D5D7DA;
    --button-rounded: 10px;
}


/*
*For all about BOUTTON
*/
button.primary-button {
    padding: var(--button-p);
    border-radius: var(--button-rounded);
}

button.secondary-button {
    background-color: var(--button-bg-2);
    padding: var(--button-p);
    border: 1px solid var(--button-2-b-color);
    border-radius: var(--button-rounded);
}


button.tertiary-button {
    padding: var(--button-p);
    /* @apply text-2xl; */
}